.card-container {
  background-color: #9bf6ff;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

.card-container h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #eb636b;
}

.card-container h4 {
  font-size: 1.2em;
  color: #003f5c;
}